body{
font-family:Arial,sans-serif;
margin:0;
background:#000;
color:white;
text-align:center;
}

header{
padding:20px;
background:#111;
}

.hero{
padding:50px;
}

.hero h3{
color:gold;
}

button{
background:gold;
border:none;
padding:12px 20px;
font-size:16px;
cursor:pointer;
border-radius:8px;
}

.products-grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:20px;
}

.product-card{
background:#111;
padding:20px;
border-radius:12px;
width:300px;
}

.product-card img{
width:100%;
border-radius:10px;
}

input,textarea{
width:80%;
padding:10px;
margin:10px;
border-radius:5px;
border:none;
}

section{
padding:40px;
}
